@charset "UTF-8";
/***********************************************
*                      共通                     *
************************************************/
/*---------------- カラー色変数管理 ----------------*/
/*--------------- カラー色変数管理 end ---------------*/
html, body {
  height: 100%;
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  color: rgba(40, 26, 23, 0.6);
}

ul {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

.text_bold {
  font-weight: bold;
}

/* ------------ ボタンデザイン ------------ */
.btn {
  border: solid 2px #fd5b66;
  cursor: pointer;
  padding: 20px 10px;
  transition: all .5s ease;
}

.btn_size {
  width: 300px;
}

.btn_color {
  background-color: rgba(214, 202, 202, 0.3);
  color: #fff;
}

.btn_color:hover {
  background-color: white;
  color: #949090;
  font-size: 24px;
}

.btn_color:hover a:visited, .btn_color:hover a:link {
  color: #949090;
}

.btn_color_pink:hover {
  background-color: #faa2a7;
  color: #fff;
}

.btn_color_pink:hover a:visited, .btn_color_pink:hover a:link {
  color: #fff;
}

.btn_color_pink a {
  color: #fd5b66;
}

.btn_action {
  animation: aaa;
}

@keyframes aaa {}/* ------------ 画像デザイン ------------ */
.sec_img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.overlay {
  background-color: #000;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  transition: .5s;
  z-index: 5;
}

.overlay .modal_menu {
  color: #fff;
}

.overlay .modal_menu .modal_menu_list {
  padding: 30px 40px;
  width: 80%;
}

.overlay .modal_menu .modal_menu_list li {
  margin-bottom: 20px;
}

.overlay .modal_menu .modal_menu_list li a {
  transition: .8s;
}

.overlay .modal_menu .modal_menu_list li a:visited, .overlay .modal_menu .modal_menu_list li a:link {
  color: #fff;
}

.overlay .modal_menu .modal_menu_list li a:hover {
  background-color: #fff;
  color: #000;
}

.menu {
  position: fixed;
  right: 0;
  z-index: 10;
}

.menu .menu-trigger,
.menu .menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu .menu-trigger {
  position: relative;
  width: 84px;
  height: 84px;
  display: flex;
}

.menu .menu-trigger span {
  background-color: #d83054;
  border-radius: 4px;
  height: 2px;
  width: 44px;
  position: absolute;
  left: 0;
  margin: 0 20px;
}

.menu .menu-trigger span:nth-of-type(1) {
  top: 25px;
}

.menu .menu-trigger span:nth-of-type(2) {
  top: 40px;
}

.menu .menu-trigger span:nth-of-type(3) {
  bottom: 26px;
}

.menu .menu-trigger.active span:nth-of-type(1) {
  transform: translateY(15px) rotate(-315deg);
}

.menu .menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu .menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-15px) rotate(315deg);
}

/* ------------ スマホ用とPC用表示切り替え ------------ */
.pc {
  display: none;
}

.sp {
  display: block;
}

.global_nav_menu {
  display: none;
}

/***********************************************
*        スクロールに合わせて画像や本文を表示         *
************************************************/
.elem_fadeIn_up {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

.elem_fadeIn_slideLeft {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 1s;
}

.elem_fadeIn_slideRight {
  opacity: 0;
  transform: translateX(30px);
  transition: all 1s;
}

/***********************************************
*                   ヘッダー画面                   *
************************************************/
header {
  width: 100%;
}

header nav {
  height: 84px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  padding: 0 10px;
  opacity: .9;
  width: 100%;
  position: fixed;
  z-index: 6;
}

header nav .logo {
  padding: 10px 0;
}

header nav .logo img {
  height: 64px;
  width: 70px;
}

header .top_wrap {
  height: 100vh;
  min-height: 400px;
  background: url(../img/top_oldgroup4.jpg) no-repeat;
  background-position: center top;
  background-size: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

header .top_wrap .top_msg_wrap {
  text-align: center;
  position: absolute;
  top: 20Vh;
}

header .top_wrap .top_msg_wrap .top_title {
  color: #3b3535;
  font-family: 'Crimson Text', serif;
  background: url(../img/back_text_color.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .9;
  padding: 2px;
  font-size: 2rem;
  width: 100%;
}

header .top_wrap .top_msg_wrap .top_msg {
  color: #000000;
  font-family: 'Crimson Text', serif;
  margin-top: 50px;
}

header .top_wrap button {
  font-size: 24px;
  position: absolute;
  bottom: 30px;
}

header .top_wrap button a:visited, header .top_wrap button alink {
  color: #fff;
}

/***********************************************
*                   メイン画面                   *
************************************************/
main section {
  padding: 40px 24px 20px;
  margin-bottom: 20px;
}

main section .sec_head {
  font-size: 18px;
  line-height: 2.4em;
  text-align: center;
}

main section .sec_text {
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2.3em;
}

main section .img_inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section .img_inner a:visited, main section .img_inner alink {
  color: #fff;
}

main section .btn_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

main section .btn_wrap .btn {
  margin-top: 50px;
}

main section .btn_wrap .btn_color a:visited, main section .btn_wrap .btn_color alink {
  color: #fd5b66;
}

main section .under_marker {
  background: linear-gradient(transparent 60%, #f5f258 0%);
}

main section .bold_color {
  color: #ee4f4f;
}

main section .company_table_wrap table {
  border-collapse: collapse;
  margin: 0 auto;
}

main section .company_table_wrap table tr th {
  width: 140px;
}

main section .company_table_wrap table tr td, main section .company_table_wrap table tr th {
  border-top: 1px solid #666;
  padding: 10px;
  text-align: left;
}

main section .company_table_wrap table tr:last-child td,
main section .company_table_wrap table tr:last-child th {
  border-bottom: 1px solid #666;
}

/***********************************************
*                    フッター                   *
************************************************/
footer {
  background: #f3bbbf;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  text-align: center;
}

/***********************************************
*                メールフォーム用                 *
************************************************/
.form_head_wrap {
  height: 360px;
  padding: 84px 0 0;
  width: 100%;
}

.form_head_wrap .head_title {
  background-color: #f3bbbf;
  padding: 10px 0;
  width: 100%;
}

.form_head_wrap .head_title .head_title-h1 {
  color: #fff;
  font-size: 1rem;
}

.form_head_wrap .form_info_wrap {
  display: none;
  margin: 0 auto;
  max-width: 786px;
}

.form_head_wrap .form_info_wrap .step {
  list-style-type: none;
  display: table;
  width: 100%;
  min-width: 480px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.form_head_wrap .form_info_wrap .step li {
  display: table-cell;
  position: relative;
  background: #504944;
  padding: 1em 0.5em 1em 2em;
  color: #fff;
  width: 30%;
}

.form_head_wrap .form_info_wrap .step li:last-child {
  padding-right: 1em;
}

.form_head_wrap .form_info_wrap .step li:last-child::before, .form_head_wrap .form_info_wrap .step li:last-child::after {
  display: none;
}

.form_head_wrap .form_info_wrap .step li::before, .form_head_wrap .form_info_wrap .step li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
}

.form_head_wrap .form_info_wrap .step li::before {
  top: -3px;
  right: -1em;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}

.form_head_wrap .form_info_wrap .step li::after {
  top: -3px;
  right: -.8em;
  border-style: solid;
  border-color: transparent transparent transparent #504944;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}

.form_head_wrap .form_info_wrap .step li.is_current {
  background: #9bbb30;
  font-weight: bold;
}

.form_head_wrap .form_info_wrap .step li.is_current::after {
  border-color: transparent transparent transparent #9bbb30;
}

.form_head_wrap .form_top_msg {
  text-align: center;
}

.form {
  width: 100%;
}

.form_table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form_table tbody {
  width: 100%;
  max-width: 480px;
}

.form_table tr {
  border: 1px solid #a7a1a1;
  display: flex;
  flex-direction: column;
  font-size: .6rem;
  width: 100%;
}

.form_table tr:not(:last-child) {
  border-bottom: 0px;
}

.form_table tr th {
  background-color: #eeeeee;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  width: 100%;
  padding: 8px 0;
}

.form_table tr th .label_required-red {
  background-color: #fd5b66;
  border-radius: 3px;
  margin-left: 20px;
  padding: 5px;
}

.form_table tr th .label_any-blue {
  background-color: #58bfe7;
  border-radius: 3px;
  margin-left: 20px;
  padding: 5px;
}

.form_table tr th .label_required-text {
  color: #fff;
}

.form_table tr th label {
  margin-left: 5px;
}

.form_table tr td {
  padding: 10px 20px;
  margin: 0 auto;
  width: 100%;
}

.form_table tr td .input, .form_table tr td textarea {
  line-height: 48px;
  width: 100%;
}

.form_table tr td .input {
  border-radius: 3px;
  height: 36px;
}

.form_table tr td textarea {
  border-radius: 3px;
  resize: none;
}

.form_table tr td .submit_wrap {
  display: flex;
  flex-direction: column;
}

.form_table tr td .submit_wrap .checkbox_btn_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
  padding: 0 10px;
}

.form_table tr td .submit_wrap .checkbox_btn_wrap .checkbox_btn {
  height: 100%;
  margin-right: 10px;
  transform: scale(1.5);
}

.form_table tr td .submit_wrap .input_submit_btn {
  background-color: #fd5b66;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  transition: 1s;
}

.form_table tr td .submit_wrap .input_submit_btn:hover {
  background-color: #fff;
  color: #fd5b66;
}
